<div class="page-container">

  <div class="bingo-container">
    <div class="all-numbers">
      <div class="ten-container" *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8]; let i = index">
        <div [ngClass]="{'drawn-ball': bingoNumber.drawn}" class="bingo-ball" *ngFor="let bingoNumber of displayBingoNumber(i)">
          <span>{{bingoNumber.number}}</span>
        </div>
      </div>
    </div>
    <div class="action-container half">
      <h1 class="drawnNumber">{{drawnBingoNumber.value === undefined ? "BINGO" : drawnBingoNumber.value.number}}</h1>
      <button class="action-button" (click)="drawBingoNumber()">
        Træk et nummer
      </button>
    </div>
  </div>

</div>
